// DEPRECATED
header
  nav(role='navigation')
    ul.sd-c-nav
      li.sd-c-nav-item
        a.sd-t-wire(href='/thread/' + thread.id, aria-label='Go back') Back
      li.sd-c-nav-compose
        a.sd-t-wire(href='/reply_thread/' + thread.id + '/' + replyId, aria-label='Make a reply') Reply
