.sd-c-form__label--medium {
    display: block;
    width: 13rem;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}

.sd-c-form__field--medium {
    width: 12.2rem;
}

.sd-c-radio-btn {
    margin-right: 0.5rem;
    vertical-align: text-bottom;
}