.sd-u-content-padding--sides {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sd-u-content-padding--top-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sd-u-padding--sm {
    padding: 0.5rem;
}

.sd-u-align--center {
    text-align: center;
}

.sd-u-align--left {
    text-align: left;
}

.sd-u-display--block {
    display: block;
}
