<div class="center hero-unit den" ng-controller="DenCtrl">
    <div ng-include="'views/header/header.html'" ng-controller="HeaderCtrl" class="header">
    
    </div>
    <br />
    <div class="body">
        <div id="den-header">
            <div class="left">
                <select id="actions" ng-model="action" ng-change="relocate()">
                    <option value="den">Den</option>
                    <option value="common-rooms">CommonRooms</option>
                    <option value="messages">Messages</option>
                    <option value="fellow-scribs">Fellow Scribs</option>
                </select>
            </div>
            <div class="right">
                <a href="#/browse"><h3>Browse...</h3></a>
            </div>
            <div class="clear"></div>
        </div>
        <div ng-hide="commonRooms.length">No common rooms</div>
        <div class="common-room" style="text-align: left">
            <div ng-repeat="commonRoom in commonRooms">
                <div ng-click="loadConversations(commonRoom)" class="c-header">
                    <span>{{ commonRoom.isOpenIcon }}</span><a href="#/common-room/{{ commonRoom.CommonRoomKey }}">{{ commonRoom.Name }}</a>
                </div>
                <table class="c-body">
                    <tbody>
                        <tr><span ng-hide="(commonRoom.isOpenIcon === '+ ') || conversations[commonRoom.Name].loaded">Loading...</span></tr>
                        <tr ng-hide="commonRoom.isOpenIcon ==='+ '" ng-repeat="conversation in conversations[commonRoom.Name]">
                            <td style="width: 95%">
                                <span>[{{ conversation.Username }}]</span>
                                <br />
                                <div class="content" ng-bind-html="conversation.Content"></div>                                
                            </td>
                            <td class="conversation-detail" style="width: 5%" ng-click="getDetail({{ conversation.ConversationKey }})">
                                <h1>></h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
