<div class="center hero-unit den" ng-controller="DenCtrl">
    <div ng-include="'views/header/header.html'" ng-controller="HeaderCtrl" class="header">
    
    </div>
    <br />
    <div class="body">
        <div id="den-header">
            <div class="left">
                <select id="actions">
                    <option value="den">Den</option>
                    <option value="common-rooms">CommonRooms</option>
                    <option value="messages">Messages</option>
                    <option value="fellow-scribs">Fellow Scribs</option>
                </select>
            </div>
            <div class="right">
                <a href="#/browse"><h3>Browse...</h3></a>
            </div>
            <div class="clear"></div>
        </div>
        <div ng-hide="commonRooms.length">No common rooms</div>
        <div class="common-room" style="text-align: left">
            <accordion close-others="false">
                <accordion-group heading="{{ commonRoom.DisplayName }}" ng-repeat="commonRoom in commonRooms" ng-click="loadConversations(commonRoom)" class="cr-header">
                    <table>
                        <tbody>
                            <tr ng-repeat="conversation in conversations[commonRoom.Name]">
                                <td style="width: 90%">
                                    <span>{{ conversation.Username }}</span>
                                    <br />
                                    <div>{{ conversation.Content }}</div>                                
                                </td>
                                <td style="width: 10%">
                                    <a href="#/conversation/{{ conversation.ConversationKey }}"><h1 class="btn">-></h1></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
