//- each action can have its own partial view, and use a model to alter the rendered HTML
//- http://taunus.bevacqua.io/getting-started#using-jade-as-your-view-engine
div.sd-u-align--center
  include ../partials/flash
  include ../partials/home_header
  main.sd-o-main.sd-o-frame-content
    article
      h2.sd-t-wire Discussion
      p.sd-t-wire.sd-u-align--left ScribDen dedicates itself to providing a constructive environment for discussion on the internet. In the age of social media, we communicate with each other now more than ever. While each website has its place and purpose, few are designed to make constructive and welcoming discussion easy and accessible. ScribDen was made in the hopes of filling that gap. While forums can be pretty great places for discussion, they tend to be focused on one area of interest. ScribDen provides a single place to interact in a community with a wide variety of interests, and makes it easy to go from talking about astrophysics to talking about the newest episode of your favorite show, all under one account, and one community.
    article.sd-u-content-padding--top-bottom
      h2.sd-t-wire Minimalism
      p.sd-t-wire.sd-u-align--left The average website is exceeding 2MB in size. We at ScribDen understand that there are still many people out there with poor internet connections, bandwidth caps, and low-end or old computers. We also understand that data plans for mobile devices can be limited and expensive, depending on where you live, and what you can afford. It’s important to us that we be respectful and mindful of that, and try to keep our application running with the lowest bandwidth footprint possible. We’re a strong proponent of progressive enhancement, whereby users can access the basic content and functionality of our application using any browser or internet connection, while also providing an enhanced version of the page to those with more advanced browser software or greater bandwidth.
    article
      h2.sd-t-wire Accessibility
      p.sd-t-wire.sd-u-align--left Keeping our application accessible to people of all backgrounds and abilities is important to us. Our goal is to make ScribDen as easy to use as possible, with the hope to reach full 508 compliance. This means we want to make sure ScribDen is accessible to people with disabilities. We are still in the learning process on this, so please share your feedback with us. We want to hear from you and work with you to make sure your needs are met.