//- each action can have its own partial view, and use a model to alter the rendered HTML
//- http://taunus.bevacqua.io/getting-started#using-jade-as-your-view-engine
div.sd-u-align--center
  include ../partials/flash
  include ../partials/home_header
  main.sd-o-main.sd-o-frame-content
    article
      h2.sd-t-wire Privacy Policy
      section.sd-u-align--left
        p.sd-t-wire ScribDen believes that our service should strive to collect as little data about our users as possible, while providing a reliable and pleasant experience. The following addresses what information we gather and how.
      section.sd-u-align--left
        h3.sd-t-wire General Information
        p.sd-t-wire ScribDen reserves the right, at our discretion, to change, update or modify this Privacy Policy and/or our Terms of Service at any time, without specific notice to You. Any such change, update or modification will be posted on the Site and will be effective immediately upon posting on the Site. You are encouraged to review the Privacy Policy from time to time in order to determine whether the Privacy Policy impacts you in a manner that would affect your continued use of the Site and related and affiliated Services. Your continued access or use of the Site and related and/or affiliated Services constitutes your consent, acceptance and agreement to the Privacy Policy as updated.
      section.sd-u-align--left
        h3.sd-t-wire What we may collect
        p.sd-t-wire We collect your Internet Protocol address for the purpose of fighting spam, malware, identity theft, and the misuse of multiple accounts. We also collect anonymized data about the devices and browsers you use, as well as the times and dates you access them.
      section.sd-u-align--left
        h3.sd-t-wire Email communications
        p.sd-t-wire We may occasionally need to email you some administrative information, tell you something important about your account or changes to our services, or update you on new policies. We will never email you to ask for your password or other account information.
      section.sd-u-align--left
        h3.sd-t-wire Disclosure of your information
        p.sd-t-wire The information we collect is used to provide and improve ScribDen Services and prevent abuse. We don’t sell personal information about our users to any third party. However, we may share your personal information with third parties either with your consent, or when we have a good faith belief it is required by law, such as pursuant to a subpoena or other judicial or administrative order.
        p.sd-t-wire
          span If we’re going to release your information, our policy is to provide you with advance notice unless we are prohibited from doing so by law or court order (e.g., under laws such as 
          a.sd-t-link(href='https://www.law.cornell.edu/uscode/text/18/2705') 18 U.S.C. § 2705(b)
          span , also known as gag orders). If you do not challenge the disclosure request, we may be legally required to turn over your information.
        p.sd-t-wire We may disclose your information without providing you with prior notice if we believe it’s necessary to prevent imminent and serious bodily harm to a person. In that case, we will endeavor to provide you with post-disclosure notice when permitted by law.
        p.sd-t-wire We will independently object to requests for access to information about users of our site that we believe to be improper.
        p.sd-t-wire If we’re acquired by or merged with another company and your information becomes subject to a different privacy policy, we’ll notify you before the transfer. You can opt out of the new policy by deleting your account during the notice period.
      section.sd-u-align--left
        h3.sd-t-wire Public user content
        p.sd-t-wire By default, anything shared on ScribDen is public. This means that everyone, including search engines, will be able to see it.
      section.sd-u-align--left
        h3.sd-t-wire Cookies
        p.sd-t-wire  When you log into ScribDen, we will send a cookie (small text files containing a string of alphanumeric characters) - to your computer. ScribDen utilizes both session cookies and persistent cookies. A session cookies disappears after you close your browser. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to ScribDen. The only thing we use it for is to keep you logged in to our service. Persistent cookies can be removed by you at anytime. Review your web browser's "Help" file to learn the proper way to modify your cookie settings.
      section.sd-u-align--left
        h3.sd-t-wire Data Storage
        p.sd-t-wire ScribDen uses third-party vendors and hosting partners, such as Amazon, to provide the necessary hardware, software, networking, storage, and related technology we need to run ScribDen. Although ScribDen owns its code, databases, and all rights to the ScribDen application, you retain all rights to your content.
      section.sd-u-align--left
        h3.sd-t-wire Data security
        p.sd-t-wire We use encryption (HTTPS/TLS) to protect data transmitted to and from our site. However, no data transmission over the Internet is 100% secure, so we can’t guarantee the absolute security of this data. You use the service at your own risk, and you are responsible for taking reasonable measures to secure your account (such as keeping your password secret).
      section.sd-u-align--left
        h3.sd-t-wire Children
        p.sd-t-wire Medium Services are intended for general audiences and are not directed to children under 13. We don’t knowingly collect personal information from children under 13. If you become aware that a child has provided us with personal information, please contact us here. If we learn that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child’s account.
        