include ../partials/generic_header
main.sd-o-main
  include ../partials/flash
  article.sd-o-frame-content
    p.sd-t-wire Below is a brief explanation of our community rules and expectations for specific topics and situations. If you have any questions about our Community Code of Conduct, please email us at hexelberrystudios@gmail.com.

    section.sd-u-content-padding--top-bottom
      p.sd-t-wire
        span For the
        strong  Standard
        span  ruleset, Section I applies.
      p.sd-t-wire
        span For the
        strong  Moderate
        span  ruleset, Sections I and II apply.
      p.sd-t-wire
        span For the
        strong  Strict
        span  ruleset, Sections I, II, and III apply.
    
    section
      h2.sd-t-wire Section I
      
      p.sd-t-wire
        strong Abusive Language and Disruptive Behavior:
        span  We do not tolerate abusive or disruptive behavior on ScribDen. This goes for abusive and disruptive comments and behavior that is directed at employees and members alike. Posts that are excessively vulgar, insulting, explicit, or hateful may be removed. Please remember to be respectful and constructive at all times, and help us maintain a friendly and welcoming atmosphere for all.
  
      p.sd-t-wire
        strong Conspiracy Theories and Misinformation:
        span  We do not tolerate the deliberate and malicious spreading of false information. This does not include honest mistakes; rather, this rule pertains to those who go out of their way to spread harmful or malicious rumors about others, including but not limited to members, companies, or public figures.
  
      p.sd-t-wire
        strong No Pirating:
        span  Requesting or sharing material you do not own the copyright to or have permission to share (such as music, software, or art) is not permitted.
  
      p.sd-t-wire
        strong No Stalking:
        span  Persistent harassment of an individual or group of individuals against their wishes is not permitted. If someone asks you to stop, please leave them alone.
  
      p.sd-t-wire
        strong Demands and Threats:
        span  Concerns and requests may be made without needing to resort to demands and threats. We believe they are not constructive. Threats of real-life violence, in particular, are something we take very seriously and do not tolerate.
  
      p.sd-t-wire
        strong Deliberately Disobeying a ScribDen Employee:
        span  Deliberately disobeying a request or action by a  ScribDen employee, is not permitted at any time. As an example, if we close a thread you created and leave an explanation stating why it was closed, you may not re-create the thread.
  
      p.sd-t-wire
        strong Discussing Disciplinary Actions:
        span  If you ever have questions or concerns about a disciplinary action or decision a moderator has made on the forums, or wish to appeal an infraction you’ve received, we ask that you please contact us at hexelberrystudios@gmail.com to do so. Please specify that you are contacting about a forum-related inquiry or appeal. We are happy to discuss and review specific moderation-related actions with you, but we do not allow discussion of any moderation actions or decisions on our forums.
  
      p.sd-t-wire
        strong Flaming:
        span  It’s okay to disagree and debate, but we do ask that you keep all disagreements civil, constructive, and on-topic. If a discussion gets heated and turns into a debate, remember that you should stick to debating the post and/or thread topic. It is never appropriate to resort to personal comments or jabs about those participating in the thread discussion.
  
      p.sd-t-wire
        strong Hate Speech:
        span  We take the use of hate speech very seriously, and have a zero tolerance policy. Our definition of hate speech is prejudice or hateful comments, slurs, or statements that promote violence or intolerance toward others because of the following: Race, Color, National Origin, Gender, Age, Disability, Sexual Orientation, Lifestyle, and any other personally identifying factors.
  
      p.sd-t-wire
        strong Impersonation:
        span  We do not tolerate impersonation of real, living or dead individuals. Impersonation includes using a display name, photos, posts, or any other material with the intent to fool people into believing you are a ScribDen employee, another community member, a celebrity, or anyone else you are not. This does not apply to roleplaying fictional characters, although we prefer that you limit the impersonation of fictional characters to roleplaying threads only.
  
      p.sd-t-wire
        strong Malicious Links:
        span  We do not tolerate the posting of malicious links on our forums, for any reason. This includes but is not limited to links to key-loggers, browser hijackers, or phishing scams.
  
      p.sd-t-wire
        strong Names in Thread Descriptions:
        span  Please refrain from placing the names of ScribDen employees or members in your thread descriptions. Directing a thread at a specific individual, or otherwise using a thread to call someone out, is not considered constructive.
  
      p.sd-t-wire
        strong Personal Information:
        span  For the sake of your own identity protection and personal privacy, we ask that you please do not share any personal information in ScribDen. This also goes for sharing another member’s personal information.
  
      p.sd-t-wire
        strong Thread Bumping:
        span  Please refrain from replying to threads for the sole purpose of “bumping” them. This is considered to be a form of spam because it does not add to the discussion in a constructive or meaningful way. We understand that everyone would like to keep their discussion active and visible, but we encourage you to strive for meaningful and constructive posts instead of posts that consist of nothing more than “bump.”
  
      p.sd-t-wire
        strong Other Cases:
        span  The ScribDen Code of Conduct includes almost all situations we all may encounter while using this service, but there will always be some things that are not covered. Those will be handled at ScribDen team’s discretion, and if something becomes a common issue or concern, we will update the ScribDen Code of Conduct to include it. If we see something that we feel is inappropriate or harmful to the ScribDen community, we do reserve the right to take appropriate actions for the overall health and quality of the ScribDen community. This includes things that are not specifically mentioned in the ScribDen Code of Conduct. If ever in doubt, please remember to be civil, constructive, and respectful at all times while using ScribDen.
  
      p.sd-t-wire We monitor the site on a regular basis, not only to read your feedback, ideas, and suggestions, and interact with you, but also to ensure that our community is a civil, constructive, and safe place for everyone.
  
      p.sd-t-wire The ScribDen Code of Conduct is intended to be your guide for all activity and interactions within the ScribDen community - we ask that you please try your best to abide by it. In the event that you violate the Code of Conduct, or if we simply have questions about something you have posted, we will always try to contact you first.
  
      p.sd-t-wire Enforcement and application of the ScribDen Code of Conduct will be at the sole discretion of ScribDen, and authorized members of the ScribDen team. Material that is deemed offensive, illegal, or inappropriate in any way will be removed at the sole discretion of ScribDen. Please be aware that violating the ScribDen Code of Conduct can lead to disciplinary action, including, but not limited to, temporary suspension, banning, and the permanent closure of your ScribDen account, if the circumstances warrant it.
      
    section
      h2.sd-t-wire Section II
      
      p.sd-t-wire
        strong Be Constructive:
        span  When commenting on submitted media, including but not limited to artwork and web links, please try to be constructive in your criticism or balance criticism with praise. Comments that are excessively insulting or vulgar are not allowed.
  
      p.sd-t-wire
        strong No spam:
        span  Members are encouraged to stay on topic and be relevant to the content of the thread. Posts that are nonsensical or irrelevant to the thread topic detract from the dialogue and are not allowed.
  
      p.sd-t-wire
        strong Rude and Insulting Comments:
        span  We do not allow members to resort to rude comments and insults. This goes for rude comments and insults directed at other community members and ScribDen employees alike.
    
    section
      h2.sd-t-wire Section III
      
      p.sd-t-wire
        strong Bashing and Slanderous Comments:
        span  We do not permit the bashing of individuals, groups, or other companies.
  
      p.sd-t-wire
        strong Trolling or Baiting:
        span  The act of trolling is defined as something that is created for the intent to provoke conflict, shock others, or to elicit a strong negative or emotional reaction. It’s okay and very normal to disagree with others, and even to debate, but provoking conflict, baiting, inciting, mocking, etc. is never acceptable. If you do not have something constructive or meaningful to add to a discussion, we strongly recommend you refrain from posting in that thread and find another discussion to participate in instead. It is also not constructive or helpful to publicly call out others and accuse them of trolling or call them a troll - please refrain from doing so. If you genuinely believe someone is trolling, be proactive: report the post or thread and leave it at that.